<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/uploadQA.css">
    <title>Quiz Display</title>
</head>

<body>

    <header>
        <div class="logo">
            <%=displayQuestions.courseTitle%> Quiz
        </div>
    </header>

    <section class="form-section">
        <!-- action="/api/v1/answers" method="post" -->
        <form id="quizDisplayForm"> 
            <!-- <div class="question"> -->
                <label>Question 1: <%=displayQuestions.question0%>
                <input type="radio" name="q0" value="Option 1">A. <%=displayQuestions.q0option1%></label>
                <input type="radio" name="q0" value="Option 2"> B. <%=displayQuestions.q0option2%>
                <input type="radio" name="q0" value="Option 3"> C. <%=displayQuestions.q0option3%>
                <input type="radio" name="q0" value="Option 4"> D. <%=displayQuestions.q0option4%>
                <input type="radio" name="q0" value="Option 5"> E. <%=displayQuestions.q0option5%>
            </label>
            <!-- </div> -->
              <hr>
            <!-- <div class="question"> -->
                <label>Question 2: <%=displayQuestions.question1%>
                    <input type="radio" name="q1" value="Option 1"> A. <%=displayQuestions.q1option1%>
                    <input type="radio" name="q1" value="Option 2"> B. <%=displayQuestions.q1option2%>
                    <input type="radio" name="q1" value="Option 3"> C. <%=displayQuestions.q1option3%>
                    <input type="radio" name="q1" value="Option 4"> D. <%=displayQuestions.q1option4%>
                    <input type="radio" name="q1" value="Option 5"> E. <%=displayQuestions.q1option5%>
                </label>
                <hr>
                <% if(displayQuestions.question2){%>
                    <label>Question 3: <%=displayQuestions.question2%>
                        <input type="radio" name="q2" value="Option 1"> A. <%=displayQuestions.q2option1%>
                        <input type="radio" name="q2" value="Option 2"> B. <%=displayQuestions.q2option2%>
                        <input type="radio" name="q2" value="Option 3"> C. <%=displayQuestions.q2option3%>
                        <input type="radio" name="q2" value="Option 4"> D. <%=displayQuestions.q2option4%>
                        <input type="radio" name="q2" value="Option 5"> E. <%=displayQuestions.q2option5%>
                    </label>
                    <hr>
                    <label>Question 4: <%=displayQuestions.question3%>
                        <input type="radio" name="q3" value="Option 1"> A. <%=displayQuestions.q3option1%>
                        <input type="radio" name="q3" value="Option 2"> B. <%=displayQuestions.q3option2%>
                        <input type="radio" name="q3" value="Option 3"> C. <%=displayQuestions.q3option3%>
                        <input type="radio" name="q3" value="Option 4"> D. <%=displayQuestions.q3option4%>
                        <input type="radio" name="q3" value="Option 5"> E. <%=displayQuestions.q3option5%>
                    </label>
                    <hr>
                    <label>Question 5: <%=displayQuestions.question4%>
                        <input type="radio" name="q4" value="Option 1"> A. <%=displayQuestions.q4option1%>
                        <input type="radio" name="q4" value="Option 2"> B. <%=displayQuestions.q4option2%>
                        <input type="radio" name="q4" value="Option 3"> C. <%=displayQuestions.q4option3%>
                        <input type="radio" name="q4" value="Option 4"> D. <%=displayQuestions.q4option4%>
                        <input type="radio" name="q4" value="Option 5"> E. <%=displayQuestions.q4option5%>
                    </label>
                    <hr>
                    <label>Question 6: <%=displayQuestions.question5%>
                        <input type="radio" name="q5" value="Option 1"> A. <%=displayQuestions.q5option1%>
                        <input type="radio" name="q5" value="Option 2"> B. <%=displayQuestions.q5option2%>
                        <input type="radio" name="q5" value="Option 3"> C. <%=displayQuestions.q5option3%>
                        <input type="radio" name="q5" value="Option 4"> D. <%=displayQuestions.q5option4%>
                        <input type="radio" name="q5" value="Option 5"> E. <%=displayQuestions.q5option5%>
                    </label>
                    <hr>
                    <label>Question 7: <%=displayQuestions.question6%>
                        <input type="radio" name="q6" value="Option 1"> A. <%=displayQuestions.q6option1%>
                        <input type="radio" name="q6" value="Option 2"> B. <%=displayQuestions.q6option2%>
                        <input type="radio" name="q6" value="Option 3"> C. <%=displayQuestions.q6option3%>
                        <input type="radio" name="q6" value="Option 4"> D. <%=displayQuestions.q6option4%>
                        <input type="radio" name="q6" value="Option 5"> E. <%=displayQuestions.q6option5%>
                    </label>
                    <hr>
                    <label>Question 8: <%=displayQuestions.question7%>
                        <input type="radio" name="q7" value="Option 1"> A. <%=displayQuestions.q7option1%>
                        <input type="radio" name="q7" value="Option 2"> B. <%=displayQuestions.q7option2%>
                        <input type="radio" name="q7" value="Option 3"> C. <%=displayQuestions.q7option3%>
                        <input type="radio" name="q7" value="Option 4"> D. <%=displayQuestions.q7option4%>
                        <input type="radio" name="q7" value="Option 5"> E. <%=displayQuestions.q7option5%>
                    </label>
                    <hr>
                    <label>Question 9: <%=displayQuestions.question8%>
                        <input type="radio" name="q8" value="Option 1"> A. <%=displayQuestions.q8option1%>
                        <input type="radio" name="q8" value="Option 2"> B. <%=displayQuestions.q8option2%>
                        <input type="radio" name="q8" value="Option 3"> C. <%=displayQuestions.q8option3%>
                        <input type="radio" name="q8" value="Option 4"> D. <%=displayQuestions.q8option4%>
                        <input type="radio" name="q8" value="Option 5"> E. <%=displayQuestions.q8option5%>
                    </label>
                    <hr>
                    <label>Question 10: <%=displayQuestions.question9%>
                        <input type="radio" name="q9" value="Option 1"> A. <%=displayQuestions.q9option1%>
                        <input type="radio" name="q9" value="Option 2"> B. <%=displayQuestions.q9option2%>
                        <input type="radio" name="q9" value="Option 3"> C. <%=displayQuestions.q9option3%>
                        <input type="radio" name="q9" value="Option 4"> D. <%=displayQuestions.q9option4%>
                        <input type="radio" name="q9" value="Option 5"> E. <%=displayQuestions.q9option5%>
                    </label>
                <%}%>
               
            <!-- </div> -->

            <!-- Add more questions as needed -->

            <button type="submit">Submit Answers</button>
        </form>
    </section>


    <script>
        const form = document.querySelector('form');
         function submitForm() {
              // Create an object to store the selected values
            let selectedValues = {};

            // Get all radio buttons in the form
            const radioButtons = document.querySelectorAll('input[type="radio"]');

            // Iterate through the radio buttons
            radioButtons.forEach(radioButton => {
                selectedValues[radioButton.name] = radioButton.checked ? radioButton.value : (selectedValues[radioButton.name] || "") ;
            });


            // Prevent the form from actually submitting
             return selectedValues;
        };

        form.addEventListener("submit", async () => {
            let result = await submitForm();
            console.log(result);
             let res = await fetch("/api/v1/answers", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(result)
            });
            let data = await res.json();
            window.location.href = data.redirect;
            console.log(data)
        })

    </script>
</body>

</html>